<launch>
    <arg name="robot_type" default="spirit"/>
    <!-- Specify the type of input (grid, mesh, cloud) -->
    <arg name="input_type" default="grid"/>

    <include file="$(find quad_utils)/launch/load_global_params.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
    </include>

    <!-- Args for mesh loader -->
    <arg name="frame_id_mesh_loaded" default="map"/>
    <arg name="grid_map_layer_name" default="z"/>
    <arg name="grid_map_resolution" default="0.05"/>
    <arg name="latch_grid_map_pub" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="world" default="step_20cm"/>
</launch>
